

/* ____________________________________ LINKS */

  /* Links */
  $active-color :                  $secondary-color;
  $disabled-color :                $accent-color;

  $border-color :                  shade-color($primary-color, $border-percentage);
  $body-bg-color :                 tint-color($primary-color, $background-percentage);

  $link-color :                    $active-color;
  $link-disabled :                 shade-color($link-color, $disabled-percentage);

  $link-text-decoration:            underline;
  $link-active-hover-decoration:    bold, underline;

  /* Lists */
  $list-group-text-color :         $gray-700;

  $border-color:          shade-color($primary-color, $border-percentage);


/* ____________________________________ TYPE */
  /* Body */
  $body-text-color :               shade-color($primary-color, 60%);
  $text-muted-color :              color-mix(srgb, $accent-color 40%, $white);
  $headings-text-color :           shade-color($accent-color, $title-percentage);

  /* Headings */
  $site-title-color :              $primary-color;
  $page-title-color :              $secondary-color;
  $post-title-color :              $accent-color;

  /* Text Elements */
  $footer-text-color :             $accent-color;
  $quote-text-color :              shade-color($accent-color, $focus-percentage);
  $lead-text-color :               shade-color($post-title-color, $muted-change-percentage);
  $caption-text-color :            shade-color($body-text-color, $focus-percentage);
  $nav-text-color :                shade-color($secondary-color, 10%);
  $code-text-color :               shade-color($hot-pink, $focus-percentage);



  /* Nav */
  $nav-text-color :                $active-link-color;
  $nav-bg-color :                  $gradient-tabs-bg;
  $nav-border-color:               shade-color($nav-text-color, $border-percentage);

  $nav-text-hover                  : darken($nav-text-color, $hover-percentage);
  $nav-hover-border                 : shade-color($nav-text-color, $hover-percentage);

    // Navbar
    $navbar-dark-text :            $accent-color;
    $navbar-dark-toggler-border :  $navbar-dark-text;
    $navbar-light-text :           $primary-color;
    $navbar-light-toggler-border : $navbar-dark-text;



  /* Buttons + Forms */





/* ______________________________________________________ BACKGROUNDS */
  /* Theme BG Colors */
  $primary-bg :                    tint-color($primary-color, $background-percentage);
  $secondary-bg :                  tint-color($secondary-color, $background-percentage);
  $accent-bg :                     tint-color($accent-color, $background-percentage);
  $valid-bg :                      tint-color($valid-color, $background-percentage);
  $alert-bg :                      tint-color($alert-color, $background-percentage);
  $invalid-bg :                    tint-color($invalid-color, $background-percentage);
  $attention-bg :                  tint-color($attention-color, $background-percentage);
  $info-bg :                       tint-color($info-color, $background-percentage);
