/* ______________________________________________________ Link */
$component-active-link-color  : $active-link-color;
$component-active-bg          : lighten($component-active-link-color, $background-percentage);

/* Style anchor elements. */
$link-text-color              : $active-link-color;
$link-text-decoration         : $link-decoration;
$link-text-hover              : $link-hover-color;
$link-hover-decoration        : underline, bold;

$link-text-visited            : $link-visited-color;
$link-visited-decoration      : $link-decoration;
$link-visited-hover           : $link-visited-hover-color;

$stretched-link-pseudo-element: after;
$stretched-link-z-index       : 1;


$active-bg-color :                 tint-color($active-text-color, $active-bg-percentage);
$active-border-color :             shade-color($active-text-color, $active-border-border);


$active-border-hover-color :       shift-color($active-border-color, $active-hover-change-percentage);
$active-bg-hover-color :           shift-color($active-bg-color, $active-hover-change-percentage);

$disabled-link-color: shade-color($active-link-color, $disabled-percentage);
$disabled-border-color: shade-color($active-border-color, $disabled-percentage);
