$text:               tint($primary, $text-percentage);
$link:               tint($secondary, $link-percentage);
$link-text          : tint($link, $link-percentage);
$link-text-active   : tint($link-text, $active-percentage);
$link-text-hover    : tint($link-text-active, $hover-percentage);
$link-text-focus    : tint($link-text-active, $focus-percentage);
$link-text-visited  : tint($link-text-active, $visited-percentage);

$link-text-inactive : shade($link-text, $inactive-percentage);
$link-text-inactive-hover : shade($link-text-inactive, $hover-percentage);
$link-text-inactive-focus : shade($link-text-inactive, $focus-percentage);
$link-text-inactive-visited : shade($link-text-inactive, $visited-percentage);

$quote: shade($text, $quote-percentage);

$border:             shade($accent, $border-percentage);
$button:             tint($secondary, $button-percentage);
$shadow:             shade($secondary, $shadow-percentage);


@import "patterns/background";
@import "patterns/button";
@import "patterns/link";
@import "patterns/text";

@import "patterns/gradient";
@import "patterns/shadow";
