/* COLORPALETTE ______________________________________________________

Theme/Brand Name         : CJMT
Author                   : CJMT

Stylesheet               : CJMT Brand Stylesheet

  = TOC =
  [] Color Palette
    (1) Color Variables
    (2) Theme Colors
    (3) Utilities Colors
  [] Properties
  [] Utilities
________________________________________________________ COLORPALETTE */
/* __________________________________ @Use */
/* __________________________________ @Import */
/* __________________________________ Properties */
/* _______________________________________ VARIABLES */
/* Gray Scale */
/* scss-docs-end gray-variables */
/* Core Colors */
/* Custom Colors */
/* ____________________________________ Utilities Colors */
/* Brand Color Variables */
/* Functional Color Variables */
/* Light Green */
/* light blue */
/* light orange */
/* light red */
/* ____________________________________ THEME */
/* Variables */
/* Utility Colors */
/* Typography */
/* ____________________________________ FOUNDATION */
/* Background */
/* GRADIENTS */
/* Borders */
/* ____________________________________ OBJECTS */
/* Shadow */
/* Nav */
/* Lists */
/* Color Maps */
/* ______________________________________________________ BACKGROUNDS */
/* Theme BG Colors */
/* __________________________________ Theme Colors */
/* ____________________________________ Utilities Colors */
/* Brand Color Variables */
/* Functional Color Variables */
/* Light Green */
/* light blue */
/* light orange */
/* light red */
/* ____________________________________ THEME */
/* Utility Colors */
/* Mix Colors */
/* Typography */
/* ____________________________________ FOUNDATION */
/* Border */
/* Link */
/* Lists */
/* Background */
/* GRADIENTS */
/* ______________________________________________________ BACKGROUNDS */
/* Theme BG Colors */
/* __________________________________ Patterns */
/* GRADIENTS */
/* __________________________________ Color Maps */
/* Contrast */
/* CJMTheme _________________________________________________________

  Theme                          : CJMT - Creativity Architect Default
  Author                         : CJMT

  Stylesheet                     : Default Theme

  = TOC =
   ()
   ()
   ()

_________________________________________________________ CJMTheme */
/* ________________________ PROPERTIES CONTROLED BY DEFAULT*/
/* _____________________________________ SPACING */
/* Base Number */
/* Map */
/* Base Size */
/* Map */
/* Base Offset */
/* Block Spacing */
/* _____________________________________ POSITIONING */
/* Position Values Map */
/* Aspect Ratios Map */
/* _____________________________________ ESCAPED CHARACTERS */
/* _____________________________________ PADDING */
/* 16 px */
/* _____________________________________ GRID */
/* ____________________________________ BORDERS */
/* ____________________________________ ANIMATION */
/* _____________________________________ LINK */
/* Nav */
/* ____________________________________________ Buttons + Form */
/* __________________________________________________ Lists */

/*# sourceMappingURL=properties.css.map */
