/* ____________________________________ SIZING */
  // sizes.scss
  $base-size : 1.05;

  $xs        : $base-size * .75 /*! .86 14px 10.5pt */;
  $sm        : $base-size * .875 /* ! 1.0 16px 12pt medium */;
  $md        : $base-size * 1.05 /* ! 1.20 19px 14pt */;
  $lg        : $base-size * 1.25 /* ! 1.44 23px 17pt */;
  $xl        : $base-size * 1.50 /* ! 1.73 26-29px 20-22pt */;
  $xxl       : $base-size * 1.75 /* ! 2.01 32px 24pt */;
