
.site-header {

}

.site-header hgroup { /* Container for site title and description */

}


.site-title,
.site-title a {
}

.site-description {
  /* This is the tagline */
  margin-left: 8rem;
  margin-right: 0;
  width: 30rem;
}
