*,
*::after,
*::before,
*:after,
*:before,
*:fullscreen {
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include box-sizing($type: inherit);
  transition: all .3s cubic-bezier(.5, 0, .5, 1);
}

html {
  @include make-cotainer;
  @include make-container-max-widths($max-widths: $container-max-widths);
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  margin: 0;
  padding: .05vh .05vw;

  height: 100%;
  width: 100%;

  outline: 4px solid yellow;

  @media screen and (min-width: 768px) {
    font-size: 75%;
  }
}
