body,
html {
  @include make-container;
  @include gradient-chocolate;
  overflow: hidden;

  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;
  * {
    @include box-sizing($type: border-box);
  }
}

body {
  font-family: $main-font;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $body-text;

  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-body;

  margin: 0 auto 0 auto;
  padding: 2vh 1vw;

  height: 100%;
  width: 100vw;

}
