/* COLORpalette ______________________________________________________

  = TOC =
  [] Color Palette
    (1) Color Variables
    (2) Theme Colors
    (3) Utilities Colors
  [] Properties
  [] Utilities
  _________________________________________________________ COLORpalette */
/* Variables */
  /* Gray Scale */
  $white                   : #e4edf4;
  $gray-100                : #c0c0c0;
  $gray-200                : #9a9a9a;
  $gray-300                : #7b7b7b;
  $gray-400                : #626262;
  $gray-500                : #4e4e4e;
  $gray-600                : #3e3e3e;
  $gray-700                : #323232;
  $gray-800                : #282828;
  $gray-900                : #1a1a1a;
  $black                   : #000100;
$grays: ();

  $blue                    : #0a0fba;
  $indigo                  : #6600ff;
  $purple                  : #510bda;
  $pink                    : #fc89ac;
  $red                     : #ba0a0f;
  $orange                  : #fd8535;
  $yellow                  : #ffcc33;
  $green                   : #82ded1;
  $teal                    : #b5ede4;
  $cyan                    : #0abab5;

 $colors:(
   blue                    : #0a0fba,
   indigo                  : #6600ff,
   purple                  : #510bda,
   pink                    : #fc89ac,
   red                     : #ba0a0f,
   orange                  : #fd8535,
   yellow                  : #ffcc33,
   green                   : #82ded1,
   teal                    : #b5ede4,
   cyan                    : #0abab5
   );


@import "style/color/custom";

/* ____________________________________ THEME COLORS */

  /* Theme Color Variables */
  $primary-color       : #0abab5;
  $secondary-color     : #ffe41e;
  $accent-color        : #a8a9ad;

/* Functional Colors */
  $valid-color         : #cdffff; /*! light cyan */
  $info-color          : #555aff; /*! neon blue */
  $alert-color         : #ffd080; /*! salomie (orange) */
  $invalid-color       : #ff555a; /*! wild watermelon (red) */
  $attention-color     : #ff6fa9; /*! hot pink */
  $light                   : $gray-200;
  $dark                    : $gray-900;

  $active-color        : color-mix( in srgb, $primary-color 40%, $white);
  $disabled-color      : color-mix( in srgb, $primary-color 40%, $black);

/* ____________________________________ UTILITY COLORS */
  /* Mix Colors */


/* Typography */
  $body-text-color       : $primary-color;
  $headings-text-color   : null;
  $footer-text-color     : $accent-color;
  $quote-text-color      : color-mix( in srgb, $primary-color 35%, $black);

  $muted-text-color      : color-mix( in srgb, $accent-color 30%, $muted-mix-color);

  @import "style/change-percentage";

/* ____________________________________ COMPONENTS */
  /* Border */
  $base-border-color          : color-mix( in srgb, $primary-color $border-percentage, $border-mix-color);

  /* SHADOWS */
  $base-shadow-color          : color-mix( in srgb, $primary-color, $shadow-percentage, $shadow-mix-color);

  $base-shadow-button                   : color-mix( in srgb $base-shadow-color $shadow-percentage, $shadow-mix-color);
  $base-shadow-hover                    : color-mix( in srgb $base-shadow-color $hover-percentage, $hover-mix-color);
  $base-shadow-focus                    : color-mix( in srgb $base-shadow-color $focus-percentage, $focus-mix-color);
  $base-shadow-inset-a                  : color-mix( in srgb $base-shadow-color $inset-perecentage, $shadow-mix-color);
  $base-shadow-inset-b                  : color-mix( in srgb $base-shadow-color $inset-perecentage, $shadow-mix-color);

  /* Link */
  $link-text-color       : $active-color;
  $visited-color   : color-mix( in srgb $active-color $visited-percentage, $visited-mix-color);
  $hover-color      : color-mix( in srgb $active-color $hover-mix-color, $hover-mix-color);
  $nav-link-color        : $active-color;
   // Nav
   $navbar-dark-text    : $accent-color;
   $navbar-light-text   : $primary-color;
  /* Lists */
  $list-group-text-color : $gray-900;

/* ______________________________________________________ BACKGROUNDS */
  @import "style/color/patterns";

  /* Background */
    $body-bg-color         : $gradient;
    $page-bg-color         : color-mix( in srgb $secondary-color $background-percentage, $background-mix-color);
    $main-bg-color         : color-mix( in srgb $accent-color $background-percentage, $background-mix-color);

  /* Theme BG Colors */
  $primary-bg            : color-mix($primary-color, $background-percentage);
  $secondary-bg          : color-mix($secondary-color, $background-percentage);
  $accent-bg             : color-mix($accent-color, $background-percentage);
  $valid-bg              : color-mix($valid-color, $background-percentage);
  $alert-bg              : color-mix($alert-color, $background-percentage);
  $invalid-bg            : color-mix($invalid-color, $background-percentage);
  $attention-bg          : color-mix($attention-color, $background-percentage);
  $info-bg  :               color-mix($info-color, $background-percentage);

  /* Contrast */
/* ! The contrast ratio to reach against white, to determine if color changes from "light" to "dark". Acceptable values for WCAG 2.0 are 3, 4.5 and 7. */
/* See https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast */
$min-contrast-ratio:   4.5;

// Customize the light and dark text colors for use in our color contrast function.
$color-contrast-dark:      $gray-800;
$color-contrast-light:     $gray-200;

$dark-contrast:      $gray-800;
$light-contrast:     $gray-200;
