$sizes :                          (
  'xs'                       : $xs,
  'sm'                       : $sm,
  'md'                       : $md,
  'lg'                       : $lg,
  'xl'                       : $xl,
  'xxl'                      : $xxl
);

/* Aspect Ratios Map */
  $aspect-ratios :               (
    '1x1'                      : 100%,
    '4x3'                      : calc(3 / 4 * 100%),
    '16x9'                     : calc(9 / 16 * 100%),
    '21x9'                     : calc(9 / 21 * 100%)
  );

  /* Position Values Map */
  $position-values :               (
    0 :                            0,
    25 :                           25%,
    50 :                           50%,
    75 :                           75%,
    100 :                          100%
  );

  $border-widths           : (
    1                      : 1px,
    2                      : 2px,
    3                      : 3px,
    4                      : 4px,
    5                      : 5px
  );
