$text-muted:        $gray-400;
$text:              $gray-200;
$body:              $gray-800;
$light:             $gray-100;
$dark:              $gray-900;

/* Utilities Input*/
$input:               $gray-500;
$input-bg:            $gray-100;
$input-border:        $gray-900;
$input-focus:         $gray-800;
$input-focus-bg:      $white;
$input-focus-border:  $gray-100;
