// font stacks
$sans-serif:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;
$monospace:         SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;


/* Enable keyword, short hand for callig font Stack. */
$base-font:        $prefix$sans-serif;;
$code-font:        $prefix$monospace;;

$primary-font:            "Hand Typewriter", $base-font;
$secondary-font:          "Enjoy Writing", $base-font;
$accent-font:             "GlassAntiqua-Regular", $base-font;
$main-font:               "Avdira", $base-font;
$tertiary-font:           "Raleway", $base-font;
$site-font:               "Euphorigenic", $base-font;
$lead-font:               "Raylig", $base-font;

$page-title-font: $primary-font;
$post-title-font: $secondary-font;
$sub-title-font: $lead-font;
$heading-text-font: tertiary-font;
$quote-text-font: $accent-font;
$body-text-font: $main-font;

$font-size-root:              null !default;
$base-font-size:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-sm:                $base-font-size * $sm !default;
$font-size-lg:                $base-font-size * $lg !default;
$lead-font-size:              $font-size-lg !default;
$small-font-size:             $font-size-sm !default;
$sub-sup-font-size:          $base-font-size * $xs !default;
$big-font-size: $base-font-size * $size-lg;


$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;

$lead-font-weight:            300 !default;
$emphasis-font-weight:        600;
$font-weight-base:            $font-weight-normal !default;

$base-line-height:            1.5 !default;
$line-height-sm:              1.25 !default;
$line-height-lg:              2 !default;

$body-text-align:           null !default;
$paragraph-margin-bottom:   $offset;

$quotation:               oblique;
$citation:                italic;
$link:                    underline;
