$silver:             #a8a9ad;

/* Tabs */
$chocolate:          #623412;
$camel:              #c19a6b;
$saltpan:            #ffffcc;
$white-chocolate:    #ede6d6;
$dark-vanilla:       #d1bea8;
$ghost-white:        #fbfbfd;
/* scss-docs-end color-variables */

/* Theme BG Colors */
$light-cyan:         #CDFFFF; /* Light Green */
$neon-blue:          #555AFF; /* light blue */
$salomie:            #FFD080; /* light orange */
$wild-watermelon:    #FF555A; /* light red */
$hot-pink:           #FF6FA9;

$deep-sky-blue:  #0dcaf0;
$coral:          #ff7f50;
$maroon:         #800000;
