$transition-base:             all .2s ease-in-out !default;
$transition-fade:             opacity .15s linear !default;
// scss-docs-start collapse-transition
$transition-collapse:         height .35s ease !default;
$transition-collapse-width:   width .35s ease !default;

$btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

$input-transition:                      border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

$form-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
$form-check-transition:                   null !default;
$form-switch-transition:          background-position .15s ease-in-out !default;
$form-select-transition:          $input-transition !default;
$form-range-thumb-transition:              background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;
$form-floating-transition:        opacity .1s ease-in-out, transform .1s ease-in-out !default;

$nav-link-transition:               color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out !default;
$navbar-toggler-transition:         box-shadow .15s ease-in-out !default;
$modal-transition:                  transform .3s ease-out !default;
$accordion-icon-transition:               transform .2s ease-in-out !default;
$accordion-transition:                    $btn-transition, border-radius .15s ease !default;
