.masthead {
  z-index: $z-index-masthead;
  display: inline;
  flex-wrap: nowrap;
  padding-bottom: 1.5vh;
  writing-mode: vertical-rl;
  rotate: 180deg;
}

.masthead .vertical {
  writing-mode: vertical-rl;
}
